version: "3.8"
services:
  api:
    build: ./backend
    ports:
      - "5002:8080"
    volumes:
      - ./backend/redyellowgreen.db:/app/redyellowgreen.db
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: "http://localhost:5002"
    ports:
      - "3000:80"
    depends_on:
      - api
volumes:
  redyellow_db:
    driver: local
